[Desktop Entry]
Version=1.0
Name=My Application
Comment=My Application Comment :-)
Exec=python3 /home/pi/RAD/RADLOGGER/counts_GUI.py
Icon=/home/pi/RAD/RADLOGGER/counts_GUI.py
Path=/home/pi/RAD/RADLOGGER/
Terminal=false
Type=Application
Categories=Utility;Application;
